{% extends 'base.html.twig' %}
{% block body %}

    <h2 class="text-center text-light mt-5">Liste des films</h2>
<div class="container bg-light mt-5 px-0 rounded">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Categorie</th>
                <th scope="col">Description</th>
                <th scope="col">Supprimer/Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for film in films_data %}
            <tr>
                <th>{{film.title}}</th>
                <td> {% for genre in film.genres %}
                        {{genre.name}}
                    {% if not loop.last %}
                        /
                    {% endif %}
                {% endfor %}
                </td>
                <td class="w-50">{{film.overview|slice(0,120)}}...</td>
                <td>
                    <a href="{{ path('admin_film_edit', { id : film.id }) }}" class="float-right">
                        Editer
                        <i class="fas fa-edit "></i>
                    </a>
                    <a href="{{ path('admin_film_delete', { id : film.id }) }}" class="float-right text-danger">
                        Supprimer
                        <i class="fas fa-trash-alt"></i>
                    </a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{# flash message #}
{% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{label}} mt-2 font-weight-bold position-fixed animated bounceOutRight delay-2s">
                {{ message }}
            </div>
        {% endfor %}
{% endfor %}
{% endblock %}