{% extends 'base.html.twig' %}

{% block nav %}
    {% include 'admin_home/admin_nav.html.twig' %}
{% endblock %}

{% block body %}

    <h2 class="text-center text-light mt-5">
        Liste des teams
        <a href="{{ path('admin_team_add') }}" class="btn btn-success"><i class="fas fa-edit"></i> Créer nouveau</a>
    </h2>
<div class="container bg-light mt-5 px-0 rounded">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Nom personne</th>
                <th scope="col">Job</th>
                <th scope="col">Supprimer/Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams_data %}
            <tr>
                <th>{{ team.movie.title }}</th>
                <td class="w-25">{{ team.person.name }}</td>
                <td class="w-25">{{ team.job.name }}</td>
                <td>
                    <a href="{{ path('admin_team_edit', { id : team.id }) }}" class="float-right">
                        Editer
                        <i class="fas fa-edit "></i>
                    </a>
                    <a href="{{ path('admin_team_delete', { id : team.id }) }}" class="float-right text-danger">
                        Supprimer
                        <i class="fas fa-trash-alt"></i>
                    </a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{# flash message #}
{% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{label}} mt-2 font-weight-bold position-fixed animated bounceOutRight delay-2s">
                {{ message }}
            </div>
        {% endfor %}
{% endfor %}
{% endblock %}