<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container">
    <h1 class="display-4">Bienvenu Administrateur</h1>
    <p class="lead">ici vous pouvez créer et modifier le contenu du site</p>
  </div>
</div>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link bg-warning font-weight-bold shadow text-dark border-bottom border-right border-left border-dark rounded-bottom" href="{{ path('admin_film_list') }}">Movie</a>
  </li>
  <li class="nav-item ml-1">
    <a class="nav-link bg-warning font-weight-bold shadow text-dark border-bottom border-right border-left border-dark rounded-bottom" href="{{ path('admin_departement_list') }}">Département</a>
  </li>
  <li class="nav-item ml-1">
    <a class="nav-link bg-warning font-weight-bold shadow text-dark border-bottom border-right border-left border-dark rounded-bottom" href="{{ path('admin_job_list') }}">Job</a>
  </li>
  <li class="nav-item ml-1">
    <a class="nav-link bg-warning font-weight-bold shadow text-dark border-bottom border-right border-left border-dark rounded-bottom" href="{{ path('admin_casting_list') }}">Casting</a>
  </li>
  <li class="nav-item ml-1">
    <a class="nav-link bg-warning font-weight-bold shadow text-dark border-bottom border-right border-left border-dark rounded-bottom" href="{{ path('admin_team_list') }}">Team</a>
  </li>
</ul>
