{% extends 'base.html.twig' %}

{% block title %}Departement{% endblock %}
{% block nav %}
    {% include 'admin_home/admin_nav.html.twig' %}
{% endblock %}

{% block body %}

    <h2 class="text-center text-light mt-5">
        Liste des jobs
        <a href="{{ path('admin_job_add') }}" class="btn btn-success"><i class="fas fa-edit"></i> Créer nouveau</a>
    </h2>
<div class="container bg-light mt-5 px-0 rounded">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Départements</th>
                <th class="text-right">Supprimer/Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <th>{{job.name}}</th>
                <td> {{job.departement.name}}</td>
                <td>
                    <a href="{{ path('admin_job_edit', { id : job.id }) }}" class="float-right">
                        Editer
                        <i class="fas fa-edit "></i>
                    </a>
                    <a href="{{ path('admin_job_delete', { id : job.id }) }}" class="float-right text-danger mr-2">
                        Supprimer
                        <i class="fas fa-trash-alt"></i>
                    </a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{# flash message #}
{% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{label}} mt-2 font-weight-bold position-fixed animated bounceOutRight delay-2s">
                {{ message }}
            </div>
        {% endfor %}
{% endfor %}

{% endblock %}