{% extends 'base.html.twig' %}

{% block nav %}
    {% include 'admin_home/admin_nav.html.twig' %}
{% endblock %}

{% block body %}

    <h2 class="text-center text-light mt-5 pt-4">
        Liste des Castings
        <a href="{{ path('admin_casting_add') }}" class="btn btn-success mr-3"><i class="fas fa-edit"></i>Créer nouveau</a>
    </h2>
<div class="container bg-light mt-5 px-0 rounded">


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom Personnage</th>
                <th>Nom acteur/actrice</th>
                <th>Film</th>
                <th>Order credit</th>
                <th class="text-right">Supprimer/Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for casting in castings %}
            <tr>
                <th class="w-25">{{ casting.characterName }}</th>
                <td>{{ casting.person.name }}</td>
                <td>{{ casting.movie.title }}</td>
                <td>{{ casting.orderCredit }}</td>
                <td>
                    <a href="{{ path('admin_casting_edit', { id : casting.id }) }}" class="float-right">
                        Editer
                        <i class="fas fa-edit "></i>
                    </a>
                    <a href="{{ path('admin_casting_delete', { id : casting.id }) }}" class="float-right text-danger mr-2">
                        Supprimer
                        <i class="fas fa-trash-alt"></i>
                    </a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{label}} mt-2 font-weight-bold position-fixed animated bounceOutRight delay-2s">
                {{ message }}
            </div>
        {% endfor %}
{% endfor %}
{% endblock %}