<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8 ">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
    <link rel="stylesheet" href=" {{ asset('css/style.css')}} ">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>

<body class="bg-dark">

        <nav class="navbar navbar-expand-sm sticky-top pb-0 pt-0 height" id="nav-content">
            <a class="navbar-brand font-weight-bold title mb-2" id="site-title" href="  ">
                Watch It!
            </a>
            <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars text-light mt-1"></i></i></span>
            </button>


            <div class="collapse navbar-collapse align-self-end align-items-end" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2  mt-lg-0">
                    <li class="nav-item active ml-1 text-center">
                        <a class="nav-link bg-dark font-weight-bold shadow text-warning border-top border-right border-left border-dark rounded-top"
                            href="{{ path('home') }}">Home</a>
                    </li>
                    <li class="nav-item active ml-1 text-center">
                        <a class="nav-link bg-dark font-weight-bold shadow text-warning border-top border-right border-left border-dark rounded-top"
                            href="{{ path('category')}}">Catégorie</a>
                    </li>
                    <li class="nav-item active ml-1 text-center">
                        <a class="nav-link bg-dark font-weight-bold shadow text-warning border-top border-right border-left border-dark rounded-top"
                            href="{{ path('admin_home')}}">Admin</a>
                    </li>
                </ul>
                <div>
                    <div><a class="btn btn-primary" href="{{ path('app_login') }}">Connexion</a></div>
                </div>
            </div>

        </nav>
        {% block nav %}{% endblock %}




    {% block body %}{% endblock %}

    <footer class="footer ">
        <div class="container h-100 py-5">
            <div class="float-right">
                <nav class="navbar">
                    <nav class="nav d-flex h-100">
                        <a class="nav-item nav-link text-light" href="{{ path('home') }}">Home</a>
                        <a class="nav-item nav-link text-light" href="#">About</a>
                        <a class="nav-item nav-link text-light" href="#">CGV</a>
                    </nav>
                </nav>
            </div>

            <a href="#" class="text-light"><i class="fab fa-facebook fa-2x mr-2"></i></a>
            <a href="#" class="text-light"><i class="fab fa-pinterest fa-2x mr-2"></i></a>
            <a href="#" class="text-light"><i class="fab fa-twitter fa-2x mr-2"></i></a>
            <a href="#" class="text-light"><i class="fab fa-instagram fa-2x mr-2"></i></i></a>
            <a href="#" class="text-light"><i class="fab fa-linkedin fa-2x mr-2"></i></a>

            <h6 class="h5">
                Powered by AntoineGagnepain
            </h6>
        </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
    <script src="{{ asset('js/script.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>

</html>